@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Cadastrar categoria</h1>


<form method="post" action="/categoria/Cadastrar">
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Descrição</label>
    </div>


    <a class="btn btn-primary" href="/Categoria">
    Voltar
    </a>
 
    <button type="submit" class="btn btn-primary">Salvar</button>
 
 
</form>
