
<h1>Cadastrar produto</h1>

<form method="post" action="/produto/Cadastrar">
    <div class="mb-3">
        <label for="descricao" class="form-label">Descrição</label>
        <input type="text" class="form-control" name="descricao" id="descricao" maxlength="100">

    </div>
    <div class="mb-3">
        <label for="unMedida" class="form-label">Unidade de Medida</label>
        <input type="text" class="form-control" name="unMedida" id="unMedida" maxlength="100">

    </div>
    <div class="mb-3">
        <label for="estoqueAtual" class="form-label">Estoque Atual</label>
        <input type="number" class="form-control" name="estoqueAtual" id="estoqueAtual" maxlength="100"/>
    </div>
    <div class="mb-3">
        <lable for="ePermanente" class="form-label">É Permanente</lable>
    </div>
    <div class="mb-3">
        
        <input type="radio"class="form-check-input"  name="radioDefault" id="radioDefault1">
        <label class="form-check-label" for="radioDefault1">
            true
        </label>
   
        <input class="form-check-input" type="radio" name="radioDefault" id="radioDefault2" checked>
        <label class="form-check-label" for="radioDefault2">
            false
        </label>
    </div>
    <div class="mb-3">
        <label for="codigoCategoria" class="form-label">Codigo da categoria</label>
        <select class="form-select" aria-label="Default select example">
            <option selected>Codigo</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>

    </div>

    <a class="btn btn-primary" href="/Produto">Voltar</a>
    <button type="submit" class="btn btn-primary">Salvar</button>


</form>