
<h1>Cadastrar categoria</h1>

<form method="post" action="/categoria/Cadastrar">
    <div class="mb-3">
        <label for="descricao" class="form-label">Descrição</label>
        <input type="text" class="form-control" name="descricao" id="descricao" maxlength="100">

    </div>
    <div class="mb-3">
        <label for="unMedida" class="form-label">Unidade de Medida</label>
        <input type="text" class="form-control" name="unMedida" id="unMedida" maxlength="100">

    </div>

    <button class="btn btn-primary">
        Voltar
    </button>
    <button type="submit" class="btn btn-primary">Salvar</button>


</form>